.container {
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.tileTable {
    font-family: 'Rounded', sans-serif; 
    font-weight: 600;
    color: black;
    font-size: 15px;
}

.modal {
    .MuiDialog-paper {
        width: 600px; 
        max-width: 100%;
    }
}
